[dmenu]
fn = -*-terminus-medium-*-*-*-16-*-*-*-*-*-*-*
# dmenu_command = /usr/bin/dmenu
# # Note that dmenu_command can contain arguments as well like `rofi -width 30`
# # Rofi and dmenu are set to case insensitive by default `-i`
# l = number of lines to display (default 24 max)
# fn = font string
# nb = normal background (name, #RGB, or #RRGGBB)
# nf = normal foreground
# sb = selected background
# sf = selected foreground
# b =  (just set to empty value and menu will appear at the bottom
# m = number of monitor to display on
# pinentry = Pinentry command

# # override normal foreground and background colors (dmenu) or use the
# # -password option (rofi) to obscure passphrase entry
# [dmenu_passphrase]
# nf = #222222
# nb = #222222
# rofi_obscure = True

[database]
# database_n = <path/to/database> ~ for $HOME is ok
# keyfile_n = <path/to/keyfile>
# password_n = database password  **INSECURE**
# gpg_key = <fingerprint - last 8 characters is fine>
# pw_cache_period = <hours to cache database password>
